* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: rgb(77, 34, 233);
    
}
.bg-tra{
    background-color: #ff7f5080;
}
.bg-roxo{
    background-color: #2D3FE4;

}  

.table, th, td {
    border: 1px solid;
    background-color: #2D3FE4;
  }
 